@mixin center {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin fullscreen {
    width: 100vw;
    height: 100vh;
    max-height: 100svh;
}

@mixin full-content {
    width: 100%;
    height: 100%;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


$primary-color: black;
$letter-box-size: 86px;
$letter-box-mobile-size: 48px;
$letter-box-font-size: 3rem;
$letter-box-mobile-font-size: 1.5rem;
$unknown-letter-color: #373737;
$wrong-letter-color: #252525;
$guessed-letter-color: #F4BB44;
$correct-letter-color: #008000;
$selected-border: 2px rgba(0, 255, 89, 0.5) solid;
$virtual-keyboard-button-size: 28px;
$virtual-keyboard-special-char-width: 48px;
$button-color: rgba(52, 183, 74, 1);
$light-background-texture: 'https://www.toptal.com/designers/subtlepatterns/uploads/repeated-square.png';
$dark-background-texture: 'https://www.toptal.com/designers/subtlepatterns/uploads/repeated-square-dark.png';
