@import './config';
@import '../index.css';

body {
    @include fullscreen;
    @include center;
    user-select: none;
    background-color: rgba(var(--background-color));
    transition: background-color 0.3s ease-in-out;
}

#root, .main-layout {
    @include full-content;
    @include center;
}

.main-layout {
    flex-direction: column;
    justify-content: space-between;
    padding: 1em;
}

.title {
    color: rgba(var(--primary-color));
    position: relative;
    @include center;
    &.bottom-border{
        &::after {
            content: '';
            position: absolute;
            bottom: calc(-5px);
            height: 1px;
            width: 50vw;
            background-color: rgba(var(--primary-color));
        }
    }
}

.letter-box {
    transition: background-color 0.3s ease-in-out;
    width: $letter-box-size;
    aspect-ratio: 1;
    color: white;
    @include center;
    text-transform: uppercase;
    border-radius: 4px;
    border: var(--letter-box-border);
    font-size: $letter-box-font-size;
    &.unknown {
        background-color: $unknown-letter-color;
    }
    &.wrong {
        background-color: $wrong-letter-color;
    }
    &.guessed {
        background-color: $guessed-letter-color;
    }
    &.correct {
        background-color: $correct-letter-color;
    }
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    @include full-content;
    overflow: auto;
    background: rgba(var(--primary-color), 0.95);
    color: rgba(var(--background-color));
    z-index: 1000;
    @include center;
    text-align: center;
    .modal-content {
        @include center;
        flex-shrink: 1;
        justify-content: space-between;
        flex-direction: column;
        h2 {
            margin-bottom: 1rem;
        }
        p {
            margin-bottom: 0.5rem;
        }
        .letter-box-rule {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 80%;
            margin-bottom: 1rem;
        }
        button {
            cursor: pointer;
            color: white;
            padding: 0.5rem 1rem;
            background: $button-color;
            border: 1px rgba(var(--background-color)) solid;
            border-radius: 4px;
            margin-top: 1rem;
        }
    }
}

.select-difficulty {
    &__row {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 180px;
        div {
            cursor: pointer;
            width: 3rem;
            aspect-ratio: 1;
            color: white;
            @include center;
            text-transform: uppercase;
            border-radius: 4px;
            background-color: $unknown-letter-color;
            border: var(--letter-box-border);
            font-size: 2rem;
            &.selected {
                border: $selected-border;
            }
        }
    }
}

main {
    @include center;
    display: grid;
    gap: 4px;
}

.letter-boxes-row {
    display: flex;
    gap: 4px;
}

footer {
    @include center;
    justify-content: space-between;
    height: 10vh;
    width: 90vw;
}

.theme-switcher {
    color: rgba(var(--primary-color));
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 130px;
    cursor: pointer;
    p {
        margin-right: 0.7rem;
    }
    .theme-switcher__controls {
        position: relative;
        border: 1px $unknown-letter-color solid;
        border-radius: 2rem;
        width: 80px;
        height: 40px;
        overflow: hidden;
        right: 0;
        .sun-icon, .moon-icon {
            font-size: 1.5rem;
            position: absolute;
            transition: top 0.3s ease-in-out;
        }

        .sun-icon {
            top: var(--sun-position);
            left: 10%;
            transform: translateY(-50%);
        }

        .moon-icon {
            top: var(--moon-position);
            right: 10%;
            transform: translateY(-50%);
        }

        input {
            visibility: hidden;
        }
    }
}

@media screen and (max-device-width: 640px) {
    .letter-box {
        width: $letter-box-mobile-size;
        font-size: $letter-box-mobile-font-size;
    }
};

/* For Mobile Landscape View */
@media screen and (max-device-width: 640px) and (orientation: landscape) {
    .modal-content {
        height: 100%;
    }
}