:root {
    --background-color: 255, 255, 255;
    --primary-color: 0, 0, 0;
    --letter-box-border: none;
};

[data-theme="dark"]{
    --background-color: 0, 0, 0;
    --primary-color: 255, 255, 255;
    --letter-box-border: 1px rgba(0, 166, 255, 0.5) solid;
}