:root {
    --background-texture: url('./assets/papyrus.webp');
    --background-color: 255, 255, 255;
    --primary-color: 0, 0, 0;
    --sun-position: 50%;
    --moon-position: 150%;
    --letter-box-border: none;
};

[data-theme="dark"]{
    --background-texture: url('./assets/papyrus-dark.webp');
    --background-color: 0, 0, 0;
    --primary-color: 255, 255, 255;
    --sun-position: 150%;
    --moon-position: 50%;
    --letter-box-border: 1px rgba(0, 166, 255, 0.5) solid;
}